.slider{
    height: 500px;
}



.img_slider{
    position: absolute;
    width: 100%;
}

.text_img_slider{
    position: absolute;
    margin-bottom: 100px;
    margin-left: 20px;
    bottom: 100px;
    color: white !important;
}

.white_text{
    color: white !important;
}

